.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
}

* {
  background-color: white;
  padding: 0px;
  margin: 0px;
  font-family: "inter-font", sans-serif;
}

p {
  padding: 20px;
  margin: 20px;
  border: 2px solid rgb(127, 112, 137);
  border-radius: 1px;
  color: navy;
}

h2 {
  padding: 20px;
  margin: 20px;
  color: navy;
}
